body {
    font-family: 'Rubik', Roboto, Oxygen, sans-serif;
    font-size: calc(8.5px + 0.33vw);
    color: #121314;
    margin: 0;
    max-width: 1140px;

  }

  #container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 2em;
      padding: 1.5em;
  }

  #container, footer {
    max-width: 50%;
  }

  #header img {
      max-width: 160px;
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  #main, #links {
    margin-top: 30px;
  }

  .helloText {
    color: #1a75ff;
    font-size: 3.0em;
    font-weight: 400;
  }

  #subheading {
    font-weight: 400;
  }

  i {
    font-size: 0.9em;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word
  }

  h1 {
    padding-bottom: 1em;
  }

  h3 {
    font-weight: 350;
  }

  /* Menu links */

  #links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .mainLinks {
    flex: 0 0 33.3%;
    text-align: center;
    margin-top: 5px;
  }

  .mainLinks a {
    text-decoration: none;
    color: #121314;
    position: relative;
  }

  .mainLinks a::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, .8, .13, 1);
    background-color: #99c2ff;
  }

  .mainLinks a:hover:after {
    top: 0%;

  }

  /* decorate text */

  .decorateText {
    text-transform: uppercase;
    font-size: calc(8.5px + 0.33vw);
    letter-spacing: 0.1em; 
  }

  /* Dream page */
  .doneDream {
    text-decoration: line-through;
  }

  .dreamList, #courses, .projectsList {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4;
  }


  /* Footer */

  footer {
    max-width: 50%;
    margin: 2em;
    padding: 1.5em;
    display: inline-flexbox
  }


  #copyright {
    font-size: 0.7em;
  }

  /* Mobile settings */

  @media only screen and (max-device-width: 1080px){

    #links ul {
      display: block;
    }

    .mainLinks {
      text-align: left;
      font-size: calc(15.5px + 0.33vw);
      margin-top: 7px;
    }

    #container, footer {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 768px){

    #links ul {
      display: block;
    }

    .mainLinks {
      text-align: left;
      font-size: calc(15.5px + 0.33vw);
      margin-top: 7px;

    }

    #container, footer {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 576px){
    #links ul {
      display: block;
    }

    .mainLinks {
      text-align: left;
      font-size: calc(15.5px + 0.33vw);
      margin-top: 7px;

    }

    #container, footer {
      max-width: 100%;
    }

  }